* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: open-sans, sans-serif;
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* === HEADER === */
header {
    background-color: #FFFFFF !important;
    color:#0631BC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav ul li{
    gap: 20px
}

/* === MAIN === */
main {
    flex: 1;
}
/* === FOOTER === */
footer {
    background-color: #0631BC;
    color: #FFFFFF;
    font-size: 14px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === LOGO === */
.logo {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}